body {background-color: black;}

.posts {
    padding: 0 6vw 3.625rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: -1.5rem;
}

.posts li {
    list-style-type: none;
}

.container {
    margin-top: 90px;
}