.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-left: 80%;
    margin-top: 17%;
    top: 35%;
    right: 5%;
}

.position:hover {
    scale: 1.1;
    transition: 0.2s;
    
}

.image {
    height: 100px;
    cursor: pointer;
}

.title {
    font-size: 16px;
    cursor: pointer;
    color: #FC0;
    text-shadow: red 1px 1px 1px;
    margin-bottom: -20px;
}