.position {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-left: 80%;
    margin-top: 16%;
}

.image {
    height: 100px;
    cursor: pointer;
}

.title {
    font-size: 15px;
    cursor: pointer;
    color: red;
    text-shadow: #FC0 1px 0 10px;
}