* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-red: #CF0A0A;
  --primary-black: #000000;
  --white: #fff;
  --light-grey: #EEEEEE;
  --dark-grey: #B2B2B2;
  
  --primary-yellow: #FFDE00;
}


a, button, input, textarea {
  font: inherit;
  color: inherit;
}

button {
  background-color: transparent;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3 {
  font-weight: 700;
  line-height: 5rem;
}
